.page-pnf{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding-top: 10vh;
  
}
.displayFlex-pnf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.backBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}